<div class="col-xs-12 col-sm-12" style="text-align:center;padding-top:0px;margin-top:0px;">
	<img src="../assets/img/loading.gif" ng-show="loading" />
</div>
<div ng-show="loaded" class="col-xs-12 col-sm-12">
	</br>
	<a href="#/visit" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span></a></br></br>
	<ul class="list-group">
	  <li class="list-group-item" >
	    <div class="row">
		  <div class="col-xs-12 col-sm-12">
		  	<div class="col-xs-5 col-sm-5">
				Date:
			</div>
		    <div class="col-xs-5 col-sm-5">
				{{visit.date}}
			</div>
		  </div>	
		</div>
	  </li>
	  <li class="list-group-item" >
	    <div class="row">
		  <div class="col-xs-12 col-sm-12">
		  	<div class="col-xs-5 col-sm-5">
				Chief Complaint:
			</div>
		    <div class="col-xs-5 col-sm-5">
				{{visit.chiefComplaint}}
			</div>
		  </div>	
		</div>
	  </li>
	  <li class="list-group-item" >
	    <div class="row">
		  <div class="col-xs-12 col-sm-12">
		  	<div class="col-xs-5 col-sm-5">
				Prescription:
			</div>
		    <div class="col-xs-5 col-sm-5">
				<img ng-src="{{visit.prescriptionImageUrl}}" style="width:100%;" />
			</div>
		  </div>	
		</div>
	  </li>
	  <li class="list-group-item" >
	    <div class="row">
		  <div class="col-xs-12 col-sm-12">
		  	<div class="col-xs-5 col-sm-5">
				Physician's Name:
			</div>
		    <div class="col-xs-5 col-sm-5">
				{{visit.physicianName}}
			</div>
		  </div>	
		</div>
	  </li>
	</ul>
</div>