<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Please select a patient.</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{item.name}}</a>
            </li>
        </ul>
        Selected Patient Name: <b>{{ selected.item.name }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok(selected.item.name)">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<!-- Page Starts -->
<div class="col-xs-12 col-sm-12" style="text-align:center;padding-top:0px;margin-top:0px;">
	<img src="../assets/img/loading.gif" ng-show="loading" />
</div>
<div ng-show="loaded" class="col-xs-12 col-sm-12" id="homepage-icons">
  </br>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
	  	<div class="col-xs-6 col-sm-6">
		  <a href="#/visit"><img ng-src="../assets/img/homeicons/visit.png" alt="Record Visit" width="90%;"></a>
	    </div>
	    <div class="col-xs-6 col-sm-6">
		  <a href="#/test"><img ng-src="../assets/img/homeicons/test.png" alt="Record Test" width="90%;"/></a>
	    </div>
    </div>	
  </div>
  </br>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
	  	<div class="col-xs-6 col-sm-6">
		  <a href="#/history"><img ng-src="../assets/img/homeicons/history.png" alt="History" width="90%;"/></a>
	    </div>
	    <div class="col-xs-6 col-sm-6">
		  <a href="#/profile"><img ng-src="../assets/img/homeicons/profile.png" alt="Profile" width="90%;"/></a>
	    </div>
    </div>	
  </div>
  </br>
  <div class="row">
    
	<div><h4>Patient Name: {{ selected.name }}</h2></div>
    <button class="btn btn-default" ng-click="open()">Change Patient</button>
    
</div>
</br>
</div>
<!-- Page Ends -->

<!-- Footer Starts 
  <div class="col-xs-12 col-sm-12" id="footer">
	<span class="glyphicon glyphicon-search" id="search-btn"></span>
  </div>  Footer Ends -->

