<div class="col-xs-12 col-sm-12">
	</br>
	<ul class="list-group">
	  <li class="list-group-item" >
	    <div class="row">
		  <div class="col-xs-12 col-sm-12">
		  	<div class="col-xs-5 col-sm-5">
				Date:
			</div>
		    <div class="col-xs-5 col-sm-5">
				{{test.date}}
			</div>
		  </div>	
		</div>
	  </li>
	  <li class="list-group-item" >
	    <div class="row">
		  <div class="col-xs-12 col-sm-12">
		  	<div class="col-xs-5 col-sm-5">
				Test Name:
			</div>
		    <div class="col-xs-5 col-sm-5">
				{{test.test_name}}
			</div>
		  </div>	
		</div>
	  </li>
	  <li class="list-group-item" >
	    <div class="row">
		  <div class="col-xs-12 col-sm-12">
		  	<div class="col-xs-5 col-sm-5">
				Test Image:
			</div>
		    <div class="col-xs-5 col-sm-5">
				<img ng-src="{{test.testImageUrl}}" style="width:100%;" />
			</div>
		  </div>	
		</div>
	  </li>
	</ul>
</div>